<h1>Create a Team and Heroes!</h1>

<form action="/team" method="POST">
  <p>
    <label for="team_name">Team Name: </label><br>
    <input id="team_name" type="text" name="team[name]" /><br>

    <label for="team_moto">Team Moto: </label><br>
    <input id="team_moto" type="text" name="team[moto]" /><br>
  </p>
  <p>
    <h2>Hero 1</h2>
    <label for="heros_name">Hero's Name: </label><br>
    <input id="heros_name" type="text" id="member1_name" name="team[hero][][name]" /><br>

    <label for="heros_power">Hero's Power: </label><br>
    <input id="heros_power" type="text" id="member1_power" name="team[hero][][power]" /><br>

    <label for="heros_bioe">Hero's Biography: </label><br>
    <input id="heros_bio" type="text" id="member1_bio" name="team[hero][][bio]" /><br>
  </p>
  <p>
    <h2>Hero 2</h2>
    <label for="heros_name">Hero's Name: </label><br>
    <input id="heros_name" type="text" id="member2_name" name="team[hero][][name]" /><br>

    <label for="heros_power">Hero's Power: </label><br>
    <input id="heros_power" type="text" id="member2_power" name="team[hero][][power]" /><br>

    <label for="heros_bioe">Hero's Biography: </label><br>
    <input id="heros_bio" type="text" id="member2_bio" name="team[hero][][bio]" /><br>
  </p>
  <p>
    <h2>Hero 3</h2>
    <label for="heros_name">Hero's Name: </label><br>
    <input id="heros_name" type="text" id="member3_name" name="team[hero][][name]" /><br>

    <label for="heros_power">Hero's Power: </label><br>
    <input id="heros_power" type="text" id="member3_power" name="team[hero][][power]" /><br>

    <label for="heros_bioe">Hero's Biography: </label><br>
    <input id="heros_bio" type="text" id="member3_bio" name="team[hero][][bio]" /><br>
  </p>

  <input type="submit" name="submit" value="submit">
</form>
