<h1>Create a Team and Heroes!</h1>

<form action="/team" method="POST">
  <label for="team_name">Team Name: </label><br>
  <input id="team_name" type="text" name="team[name]" /><br>

  <label for="team_moto">Team Moto: </label><br>
  <input id="team_moto" type="text" name="team[moto]" /><br>

  <h2>Hero 1</h2>
  <label for="heros_name">Hero's Name: </label><br>
  <input id="heros_name" type="text" name="team[hero][][name]" /><br>

  <label for="heros_power">Hero's Power: </label><br>
  <input id="heros_power" type="text" name="team[hero][][power]" /><br>

  <label for="heros_bioe">Hero's Biography: </label><br>
  <input id="heros_bio" type="text" name="team[hero][][bio]" /><br>

  <h2>Hero 2</h2>
  <label for="heros_name">Hero's Name: </label><br>
  <input id="heros_name" type="text" name="team[hero][][name]" /><br>

  <label for="heros_power">Hero's Power: </label><br>
  <input id="heros_power" type="text" name="team[hero][][power]" /><br>

  <label for="heros_bioe">Hero's Biography: </label><br>
  <input id="heros_bio" type="text" name="team[hero][][bio]" /><br>

  <h2>Hero 3</h2>
  <label for="heros_name">Hero's Name: </label><br>
  <input id="heros_name" type="text" name="team[hero][][name]" /><br>

  <label for="heros_power">Hero's Power: </label><br>
  <input id="heros_power" type="text" name="team[hero][][power]" /><br>

  <label for="heros_bioe">Hero's Biography: </label><br>
  <input id="heros_bio" type="text" name="team[hero][][bio]" /><br>
</form>
